site_name: SciDB
site_description: Scientific Data Versioning Framework
site_url: https://scidb.readthedocs.io

repo_name: scidb
repo_url: https://github.com/mtillman14/general-sqlite-database

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.sections
    - navigation.expand
    - content.code.copy

nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - User Guide:
    - Variables: guide/variables.md
    - Database: guide/database.md
    - Lineage Tracking: guide/lineage.md
    - Caching: guide/caching.md
  - API Reference: api.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: true

plugins:
  - search
